# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Hidden files (but not .github or .gitignore)
.*
!.github
!.gitignore

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
docker/*/logs/
# Go workspace file (not go.sum - that should be committed)
go.work

release/
*.iml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.zip
