# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local .terraform directories
**/.terraform/*

# Environment-specific overrides
*.auto.tfvars
!environments/*/*.tfvars
